:root {
    /*86CB92*/
    --bulma-primary-h: 130deg;
    --bulma-primary-s: 40%;
    --bulma-primary-l: 66%;
    /*598185*/
    --bulma-link-h: 185deg;
    --bulma-link-s: 20%;
    --bulma-link-l: 44%;
    /*404E7C*/
    --bulma-info-h: 226deg;
    --bulma-info-s: 32%;
    --bulma-info-l: 37%;
    /*251F47*/
    --bulma-success-h: 249deg;
    --bulma-success-s: 39%;
    --bulma-success-l: 20%;
    /*260F26*/
    --bulma-warning-h: 300deg;
    --bulma-warning-s: 43%;
    --bulma-warning-l: 10%;
    /*red*/
    --bulma-danger-s: 73%;
    --bulma-danger-l: 58%;
}

.title {
    margin: 0 auto;
}

form,
.doc-div {
    display: block;
    background-color: azure;
    accent-color: var(--bulma-link);
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-out allow-discrete;

    transition-behavior: allow-discrete;

}

.hidden {
    opacity: 0;
    transform: translateY(-10px);
    display: none;
    transition: all 0.5s ease-out allow-discrete;
}

@starting-style {

    form,
    .doc-div {
        opacity: 0;
        transform: translateY(-10px);
    }
}

h3 {
    width: 100%;

    padding: 5px;
    border-radius: 10px;
}

input[type="text"],
input[type="number"] {
    max-width: 200px;
    display: inline-block;
    height: 30px;
    /*not working right*/
    color: var(--bulma-scheme-main);
    background-color: var(--bulma-scheme-main);
}

label {
    display: inline;
}

h1,
h2 {
    font-family: "Boldonse";
}

h2 {
    padding: 0 2rem;
}

h3 {
    font-family: "Madimi One";
}

input[type="textarea"] {
    display: block;
    width: 100%;

}

.button {
    max-height: max-content;
}

.form-controls,
.fav-controls {
    width: 100%;
}


.fav-name {
    max-width: fit-content;
}

section {
    margin: 0 2rem;
}